// Define variables for your color scheme

// Characatch colors:
$red: #D33422;
$blue: #2663C6;
$yellow: #FFCA0A;
$neutral: #FFFBEB;
$dark: #1E212B;
$secondary: #d9dce7;

//default colors
$orange: #E67E22;
$green: #1EDD88;
$light-gray: #F4F4F4;
