<div class="container">
  <div class="container-listings-main">

    <div>
      <h1>Mascots near you</h1>
      <div class="listings-mascot-cards">
        <% @listings.each do |listing| %>
            <%= render "shared/mascot_card", listing: listing %>
        <% end %>
      </div>
    </div>

    <div id="map" style="width: 100%; height: 100vh;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  <div>
</div>
