<div class="container my-5"></div>
  <div class="row mt-5">
    <div class="col-9">
      <div class="d-flex justify-content-between">
        <h1>List you mascot for hire!</h1>
        <%= link_to dashboard_path(current_user) do %>
          <button class="btn btn-secondary">Back to dashboard</button>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row row-col-6">
    <div class="col-9">
      <%= render 'form', article: [@listing] %>
    </div>
  </div>
  <div class="row mt-5">
    <%= link_to listings_path do %>
      <button type="button" class="btn btn-primary">See all Mascots</button>
    <% end %>
  </div>
</div>
