<div class="container my-5">
  <div class="row mt-5">
    <div class="col-9">
      <div class="d-flex justify-content-between">
        <h1>List you mascot for hire!</h1>
      </div>
    </div>
  </div>
  <div class="row row-col-6">
    <div class="col-9">
      <%= render 'form', article: [@listing] %>
    </div>
  </div>
</div>
