  <div class="banner" style="background-image: url(https://res.cloudinary.com/df7gbyhfx/image/upload/v1675158797/kpqrznglss959ybwwdrg.jpg);">
    <div class="container">
      <h1>Catch</h1>
      <h1>your character</h1>
      <h1>today!</h1>
    </div>
  </div>

<div class="container">
  <!-- code a "How it works" section -->
  <div class="mt-5">
    <div class="container">
      <h1>How it works</h1>
      <div class="cards-main">
        <div class="card-step">
          <h3>Browse</h3>
          <p>Look for your favorite mascot in our listings of over 2000 mascots!</p>
        </div>

        <div class="card-step">
          <h3>Book</h3>
          <p>Simple one step booking</p>
        </div>

        <div class="card-step">
          <h3> Enjoy!</h3>
          <p>Your favorite mascot will show up at your event.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <h1>Our most popular characters</h1>
  </div>
  <div class="d-flex mt-3" style="gap: 50px;">
    <% @listings.first(3).each do |listing| %>
      <%= link_to listing_path(listing) do %>
        <%= render "shared/mascot_card", listing: listing %>
      <% end %>
    <% end %>
  </div>
</div>
