<div class="container">
  <div>
    <img src="https://res.cloudinary.com/df7gbyhfx/image/upload/v1674734420/wqtevh0jzjsvz82x3plu.png" alt="Catch your character today!">
  </div>
  <div class="mt-5">
    <h1>Our most popular characters</h1>
  </div>
  <div class="d-flex mt-3">
    <% @listings.first(4).each do |listing| %>
      <%= link_to listing_path(listing) do %>
        <div class="card my-3 me-3" style="width: 18rem;">
          <img src="#" class="card-img-top" alt="mascot image">
          <div class="card-body">
            <h5 class="card-title"><%= listing.mascot_name %></h5>
            <h6 class="card-subtitle mb-2 text-muted">$<%= listing.hourly_rate %> /hr</h6><br>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
