<div class="container">
  <div class="row">
    <div class="col-12 mt-3 text-center">
      <h1>Catch your character today!</h1>
    </div>
  </div>
  <div class="row">
    <%= link_to "View Mascots", listings_path %>
  </div>
  <div class="row">
    <img src="https://www.japantimes.co.jp/wp-content/uploads/2018/08/jpulse-20150515-Screen-Shot-2015-05-13-at-6.38.13-PM.png" alt="">
  </div>
</div>
