.banner {
  background-size: cover;
  // background-position: center;
  padding: 200px 0;
  margin: 0 0;
}

.banner h1 {
  margin: 20px;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 60px;
  font-weight: bold;
}
