.cards-main {
  display: flex;
  justify-content: space-evenly;
}

.card-step {
  overflow: hidden;
  height: 120px;
  width: 360px;
  background: white;
  display: flex;
  align-items: center;
}

.card-step img {
  width: 120px;
}

.card-step h3 {
  margin: 0;
}

.card-step p {
  font-size: 18px;
}

.mascot-desc-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.listings-show-cards {
  display: flex;
  gap: 50px;
}

.listings-mascot-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;
  margin-top: 16px;
  min-width: 0px;
  min-height: 0px;
}

@media(max-width: 768px) {
  .cards-main {
    display: block;
    justify-content: center;
  }
  .card-step {
    width: 320px;
  }
  .listings-mascot-cards {
    grid-template-columns: 1fr;
  }
  .mascot-desc-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .listings-show-cards {
    flex-direction: column;
    gap: 10px;
  }
}
