.card-links {
  text-decoration: none;
  color: $dark;
}

.bottom-stroke-red {
  color: $dark;
}

.bottom-stroke-red:hover {
  border-bottom: solid $blue;
  border-bottom-width: 10px;
  transition: 0.3s;
}

.card-img-top {
  object-fit: cover;
  object-position: 50% 10%;
}
