.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

span {
  color: $red;
}

a.navbar-brand {
  font-size: 1.75rem;
  font-weight: 800;
}

a.nav-link {
  color: $dark;
  font-weight: 600;
}

a.nav-link:hover {
  color: $red;
  transition: 0.3s;
}

.navbar-stroke {
  border-bottom: solid;
  border-bottom-width: 10px;
  border-image: linear-gradient(to right, $blue 15%, $yellow 15%, $yellow 30%, $red 30%) 5;
}
