// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/navbar";
@import "components/mascot_card";
@import "components/booking_card";
@import "components/navbar";
@import "pages/index";

@import "bootstrap/scss/bootstrap";

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 800;
}

.bottom-stroke-blue {
  border-bottom: solid $blue;
  border-bottom-width: 10px;
}

.bottom-stroke-red {
  border-bottom: solid $red;
  border-bottom-width: 10px;
}

.bottom-stroke-yellow {
  border-bottom: solid $yellow;
  border-bottom-width: 10px;
}

.left-stroke-blue {
  border-left: solid $blue;
  border-left-width: 10px;
}

.left-stroke-red {
  border-left: solid $red;
  border-left-width: 10px;
}

.left-stroke-yellow {
  border-left: solid $yellow;
  border-left-width: 10px;
}

.alert {
  position: fixed;
  bottom: 50;
  right: 50;
  width: 20%;
}
