<li class="list-group-item left-stroke-blue mt-3">
  <span class="review-star"><%= icon('fa-solid', 'star') * review.rating %></span><br>
  <%= review.content %><br>
  <strong><%= review.user.nickname %></strong>
</li>
